.infoFlex-Container {
    display: flex;
    flex-direction: column;
    /* padding-inline: 2rem; */
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.infoFlex-Item {
}

.bookmarked {
    background-color: green;
    border: none;
    padding: 1em;

    /* margin-left: auto;
    margin-right: auto; */
}

.bookmarked:hover {
    background-color: red;
}
.bookmarked:hover:before {
    content: "remove ";
}

.notBookmarked {
    background-color: red;
    border: none;
    padding: 1em;
    /* margin-left: auto;
    margin-right: auto; */
}

.notBookmarked:hover {
    background-color: green;
}

.notBookmarked:hover:before {
    content: "add ";
}

@media (max-width: calc(60rem)) {
    .serieFlex-Container {
        display: flex;
        padding-inline: 2rem;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }

    .serieFlex-Item {
        width: 50%;
        padding: 1em;
        max-width: 250px;
    }
    .serieFlex-Item span {
        text-align: center;
        color: blue;
        width: 150%;

        font-size: 150%;
        padding-inline: 0;
    }

    .chaptersFlex-Container {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        text-align: center;
        justify-content: center;
        gap: 1em;
        border: solid white;
        border-radius: 20px;
    }

    .chapterFlex-Item {
        /* border: solid white; */
        flex-basis: 200px;
        border-radius: 20px;
        /* padding: 1em;*/
        padding-block: 1.5em;
        background-color: #252525;
    }

    .chapterFlex-Item button {
        padding: 2em;
        border: solid white 1px;
        border-radius: 20px;
        background-color: black;
        box-sizing: border-box;
        padding-inline: 20%;
    }

    .chapterFlex-Item a:visited button {
        color: #848484;
        border: solid #848484 1px;
    }
}

@media (min-width: calc(60rem)) {
    .serieFlex-Container {
        display: flex;
        padding-inline: 2rem;
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* justify-content: center; */
        flex-wrap: wrap;
        gap: 1em;
    }

    .serieFlex-Item {
        width: 50%;
        padding: 1em;
        max-width: 250px;
    }
    .serieFlex-Item span {
        text-align: center;
        color: blue;
        width: 150%;

        font-size: 150%;
        padding-inline: 0;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gridItem {
    }

    .chaptersFlex-Container {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        text-align: center;
        justify-content: center;
        gap: 1em;
        border: solid white;
        border-radius: 20px;
        overflow: auto;
        height: 80vh;
    }

    .chapterFlex-Item {
        /* border: solid white; */
        flex-basis: 200px;
        border-radius: 20px;
        /* padding: 1em;*/
        padding-block: 1.5em;
        background-color: #252525;
    }

    .chapterFlex-Item button {
        padding: 2em;
        border: solid white 1px;
        border-radius: 20px;
        background-color: black;
        box-sizing: border-box;
        padding-inline: 20%;
    }

    .chapterFlex-Item a:visited button {
        color: #848484;
        border: solid #848484 1px;
    }
}
